body {
    background: none repeat scroll 0 0 #FFFFFF;
	background-image:url('http://prop69.com/images/backgrounds/binary-code-background.jpg');
    font-size: 90%;
    margin: 0;
    min-width: 600px;
    padding: 0;
    width: 100%;
}
a {
    color: #336699;
}
a:hover {
    background: none repeat scroll 0 0 #336699;
    color: #FFFFFF;
    text-decoration: none;
}

h1, h2, h3 {
    margin: 0.8em 0 0.2em;
    padding: 0;
}
p {
    margin: 0.4em 0 0.8em;
    padding: 0;
}
img {
    margin: 10px 0 5px;
}
#header {
    border-bottom: 1px solid #000000;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
#header p {
    margin: 0;
    padding: 0.5em 15px 0.2em;
}
#header h1 {
    margin: 0;
    padding: 0.2em 15px;
}
#header h2 {
    margin: 0;
    padding: 0.2em 15px 0.7em;
}
#colmask {
    background: none repeat scroll 0 0 #ccD8B7;
	
    clear: both;
    float: left;
    overflow: hidden;
    position: relative;
    width: 100%;
}
#colmid {
    background: none repeat scroll 0 0 #FFFFFF;
	background-image:url('picture1.png');
    float: left;
    left: 200px;
    position: relative;
    width: 200%;
}
#colright {
    background: none repeat scroll 0 0 #3FdF99;
    float: left;
    left: 50%;
    margin-left: -400px;
    position: relative;
    width: 100%;
}
#col1wrap {

    float: right;
    position: relative;
    right: 100%;
    width: 50%;
}
#col1pad {
    margin: 0 15px 0 415px;
    overflow: hidden;
}
#col1 {
    overflow: hidden;
    width: 100%;
}
#col2 {
    float: left;
    left: 215px;
    margin-left: -50%;
    overflow: hidden;
    position: relative;
    width: 170px;
}
#col3 {
    float: left;
    left: 15px;
    overflow: hidden;
    position: relative;
    width: 170px;
}
#footer {
    border-top: 1px solid #000000;
    clear: both;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
#footer p {
    padding: 0.5em 15px;
}
table{
border-collapse:collapse;
}
span{
font-size:0.5em;
}
table,th,td{
border: 2px solid #37f; 
}
th{
background:#1B1EE0;
}
tr{
background:#94C0F2;
}
tr:nth-child(2n+1){
background:#308BF2;
}


a:link,a:visited
{
display:inline;
font-weight:bold;
background-color:#C70434;
color:#3A0596;
width:120px;
text-align:center;
padding:4px;
text-decoration:none;
}
a:hover,a:active
{
background-color:#7A991A;
}
.menulinks a {
    color: #17B7BF;
	background-color: #2161CF;
}
.menulinks a:hover {
    background: none repeat scroll 0 0 #0BD3DE;
    color: #17B7BF;
    text-decoration: none;
}
ul
{
list-style-type:none;
padding:0px;
margin:0px;
}
.redondo{
background-color:red;
-moz-border-radius-bottomright: 50px 25px;
border-bottom-right-radius: 50px 25px;
}

li 
{

background-image:url('http://www.w3schools.com/favicon.ico');

background-repeat:no-repeat;
background-position:0px 0px; 
padding-left:25px;
}